body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*========================================*/
/*========================================*/
/*===== COMEÇA POR AQUI OS QUADRADOS. ====*/
/*========================================*/
/*========================================*/
/*
body { 
  height: 100vh;
  width: 100vh;
  background: linear-gradient(
      90deg,
      rgba(65, 185, 131, 1) 0%,
      rgba(0, 212, 255, 1) 100%);
}*/

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(40, auto);
}

/* Celula */
.cell {
  width: 30px;
  height: 30px;
  background: black;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*
.cell.x {
  cursor: not-allowed;
} */

/* X */
.cell.x::before,
.cell.x::after {
  content: "";
  height: calc(100px * 0.30);
  width: calc(100px * 0.20);
  background: white;
}


/*cell circle*/

/*Mensagem de Vitória*/
.winning-message {
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.winning-message button {
  font-size: 2.5rem;
  background-color: rgba(65, 185, 131, 1);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
}

.winning-message-button:hover{
  color: rgba(65, 185, 131, 1);
  background-color: white;
}

.winning-message-text {
  color: white;
  font-size: 5rem;
}

/*
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-botton: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right: none;
}
*/

/*data-winning-message*/